<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTC.UI5Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SAPUI5AppUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <BTC.UI5Uploader.Properties.Settings>
            <setting name="CredentialFiles" serializeAs="String">
                <value>%AppData%\BTC\SAPUI5AppUpload\credentials</value>
            </setting>
        </BTC.UI5Uploader.Properties.Settings>
        <SAPUI5AppUpload.Properties.Settings>
            <setting name="Git" serializeAs="String">
                <value>git.exe</value>
            </setting>
            <setting name="CredentialFiles" serializeAs="String">
                <value>%AppData%\BTC\SAPUI5AppUpload\credentials</value>
            </setting>
            <setting name="Zip" serializeAs="String">
                <value>%ProgramFiles%\7-Zip\7z.exe</value>
            </setting>
            <setting name="ZipArgs" serializeAs="String">
                <value>a {0} {1} -xr!WEB-INF -xr!META-INF</value>
            </setting>
        </SAPUI5AppUpload.Properties.Settings>
    </applicationSettings>
</configuration>
